.user{
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 15px 40px 15px;
}

.img{
    height: 263px;
    background-color:aqua;
    border-radius: 15px;
}

.name{
    font-size: 18px;
}

.description{
    font-weight: 600;
    color: #8C8CB6;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active .description{
    max-width: 505px;
}