* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
  padding: 0;
}

.app-wrapper {
  background-color: #F2F2FE;
  color: #4E3F6F;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0 10px;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 210px 1fr;
  grid-template-rows: 174px 1fr;
}

.title{
  font-size: 36px;
  line-height: 60px;
  padding: 0 0 0 30px;
}